.main {

}
.Name{
  box-sizing: border-box;
  color: rgb(114, 113, 113);
  display: inline;
  font-family: Oswald, sans-serif;
  font-size: 24px;
  font-weight: 700;
  height: auto;
  letter-spacing: normal;
  line-height: 34px;
  text-align: center;
  text-rendering: optimizelegibility;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}
.ContainerBlock{
  justify-content: center;
  margin: 0 auto;
  padding: 0 20px;
}
.BlockContact{

  margin: 20px auto 0 auto;
  box-sizing: border-box;
  color: rgb(243, 247, 252);
  display: block;
  min-width: 300px;
  background-color: rgba(168, 164, 164, 0.65);;
  font-family: "PT Serif", serif;
  font-size: 17px;
  font-weight: 400;
  cursor: pointer;
  border-radius: 20px;
  letter-spacing: normal;
  line-height: 26px;
  padding: 15px 30px;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}
.Image{
  padding-top: 20px;
}
.MainImage{

  height: 125px;
  width: 125px;
  border-radius: 50%;
}
.icon {
  margin-right: 10px;

}
a{
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: white ;
  font-family: Oswald, sans-serif;
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  align-items: center;
}
.vkLogo{
  width: 150px;
  color: white;
}
.SvoiLogo{
  width: 100px;
}
.WhatsappWrapper{
  display: flex;
  gap: 10px;
}
.WhatsappWrapper .BlockContact{
  min-width: 90px;
}