.main {

}
.Name{
  box-sizing: border-box;
  display: inline;
  height: auto;
  letter-spacing: normal;
  line-height: 34px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
}
.NamePerson{
  text-transform: uppercase;
  font-family: Georgia, serif;
  font-size: 24px;
  font-weight: 700;
  color: rgb(65, 64, 64);
}
.Name p{
  font-family: Georgia, serif;
  font-size: 24px;
  font-weight: 400;
  color: rgb(65, 64, 64);

}
.ContainerBlock{
  justify-content: center;
  margin: 0 auto;
  padding: 0 20px;
}
.BlockContact{

  margin: 20px auto 0 auto;
  box-sizing: border-box;
  color: rgb(243, 247, 252);
  display: block;
  min-width: 300px;
  background-color: rgba(168, 164, 164, 0.65);;
  font-family: "PT Serif", serif;
  font-size: 17px;
  font-weight: 400;
  cursor: pointer;
  border-radius: 20px;
  letter-spacing: normal;
  line-height: 26px;
  padding: 15px 30px;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}
.Image{
  padding-top: 20px;
}
.MainImage{

  height: 125px;
  width: 125px;
  border-radius: 50%;
}
.iconInst {
  margin-right: 10px;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  border-radius: 5px;
}
.iconTg {
  margin-right: 10px;
  color: dodgerblue;
}
.iconWhatsApp {
  margin-right: 10px;
  color: #25D366;
}
a{
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: white ;
  font-family: Oswald, sans-serif;
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  align-items: center;
}
.vkLogo{
  width: 150px;
  color: white;
}
.SvoiLogo{
  width: 120px;
}
.WhatsappWrapper{
  display: flex;
  gap: 10px;


}
.WhatsappWrapper .BlockContact{
  min-width: 90px;
}